# Dependencies
node_modules/

# Contracts
contracts/out/
contracts/cache/
contracts/lib/

# Frontend
frontend/.next/
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Backups
frontend_public_backup/
frontend_src_backup/
